.cart-overlay {
    position: fixed;
    z-index: 200;
    background-color: $white;
    top: 0;
    right: 0;
    box-shadow: -4px 0px 66px -16px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    height: 100vh;
    padding: 0.6em 0.8em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transform: translateX(460px);
    transition: all 0.5s ease;
}

.cart-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    margin-bottom: 1.6em;

    svg {
        width: 54px;
        fill: $black;
        
        &:hover {
            cursor: pointer;
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.9rem;
        color: $black;
        font-weight: 600;
    }
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    height: auto;
}

.cart-product-card {
    display: flex;
    align-items: center;
    gap: 0.8em;
    position: relative;
    height: 100px;
}

.cpc-image {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.6em;

    img {
        width: 80px;
    }
}

.cpc-data {
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $black;
    }

    p {
        font-size: 0.9rem;
        color: #969696;
        font-weight: 500;
        margin-bottom: 0.3em;
    }

    .cpc-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        padding: 0 8px;
        border: 1px solid $black;
        border-radius: 1px;

        button {
            background-color: transparent;
            border: none;
            font-size: 1.4rem;

            svg {
                width: 10px;
                fill: $black;
                pointer-events: none;
            }
        }

        span {
            font-size: 1.1rem;
            color: $black;
        }
    }
}

#delete-product {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;

    svg {
        width: 16px;
        pointer-events: none;
    }
}

.total-product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-resume {
    margin-top: 1em;
    padding: 0.4em 0;
    border-top: 1px solid $black;
}

.cr-amount { 
    font-size: 0.8rem;
    font-weight: 400;  
    color: #A7A7A7;
    margin-bottom: 1.8em;  
}

.crpd-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #434343;
    }
}

.crpdp-shipping-title {
    display: flex;
    gap: 0.2em;
    position: relative;

    svg {
        width: 14px;
        fill: #434343;
    }

    &::after {
        content: 'Free shipping with purchases over US$ 1000 in products';
        display: block;
        position: absolute;
        background-color: $white;
        box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
        font-size: 0.8rem;
        padding: 0.2em 0.4em;
        width: 210px;
        border-radius: 2px;
        right: -220px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    &:hover::after {
        opacity: 1;
        pointer-events: all;
    }
}

.cr-total {
    margin-top: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4em;

    p {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
    }
}

.finish-buying-button {
    width: 100%;
    border: none;
    background-color: $black;
    color: $white;
}

// Empty Cart Toast
.empty-cart-toast {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: $white;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    padding: 1em 1.2em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    p {
        font-size: 1rem;
        color: #777777;
    }
}

@keyframes toastAlert {
    0% {
        
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-3px);
    }
}

.ect-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;

    svg {
        width: 24px;
        fill: $black;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $black;
    }
}