// --- UTILITY ---
.button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 25px;
    color: $black;
    background-color: #EEEEEE;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: all 0.3s;
}