@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3; }

*::placeholder {
  font-family: "Barlow", sans-serif; }

input[type=search]::-webkit-search-cancel-button {
  display: none; }

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

textarea {
  resize: none;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif; }

input {
  font-family: "Barlow", sans-serif; }

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select {
  font-family: "Barlow", sans-serif; }

input[type=submit]:hover,
input[type=file]:hover,
select:hover {
  cursor: pointer; }

*::-webkit-scrollbar {
  width: 5px;
  background-color: #FFFFFF; }

*::-webkit-scrollbar-thumb {
  background-color: #00000075;
  border-radius: 20px; }

* {
  letter-spacing: 1px; }

body {
  transition: all 0.3s ease; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

button:hover {
  cursor: pointer; }

.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px 25px;
  color: #161616;
  background-color: #EEEEEE;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: all 0.3s; }

.top-bar {
  width: 100%;
  height: 6px;
  background-color: #262461; }

.navbar {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
  padding: 0.9em; }

.navbar-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: #161616;
  position: relative;
  transition: all 0.3s ease; }
  .navbar-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #262461;
    border-radius: 1px;
    position: absolute;
    bottom: -6px;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.4s; }
  .navbar-link:hover::after {
    opacity: 1;
    transform: translateY(0); }

.logo {
  display: flex;
  flex-direction: column;
  gap: 5px; }
  .logo img {
    width: 90px; }
  .logo p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.92rem;
    color: #161616;
    transition: all 0.3s ease; }

.menu-button {
  border: none;
  background-color: transparent;
  display: none; }
  .menu-button:active svg {
    fill: #aaaaaa; }
  .menu-button svg {
    fill: #0A0A0A;
    width: 48px;
    transition: all 0.3s; }

.navbar-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  background-color: rgba(10, 10, 10, 0.959);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s; }
  .navbar-modal .x-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none; }
    .navbar-modal .x-button:hover svg {
      fill: #ffffffd2; }
    .navbar-modal .x-button svg {
      width: 48px;
      fill: #ffffff98;
      transition: all 0.3s; }
  .navbar-modal .navbar-link {
    color: #FFFFFF;
    font-size: 1.6rem; }

@media (max-width: 824px) {
  .menu-button {
    display: block; }
  .navbar-link {
    display: none; }
  .footer-navbar-link {
    display: block; }
  .footer-navbar {
    flex-direction: column;
    gap: 1.5em; }
    .footer-navbar .logo {
      order: -1;
      margin-bottom: 0.4em; }
  .navbar {
    justify-content: space-between; } }

.footer {
  background-color: #080808;
  padding-top: 1em;
  padding-bottom: 0.2em; }

.footer-navbar {
  margin-bottom: 1em; }
  .footer-navbar .navbar-link {
    color: #FFFFFF; }
  .footer-navbar .logo p {
    color: #FFFFFF; }

.registered-trademark {
  color: #ffffff80;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1.2em; }

.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em; }
  .developed-by p {
    color: #ffffff80;
    font-size: 0.6rem;
    font-weight: 200; }
  .developed-by a {
    margin-top: -5px; }
    .developed-by a svg {
      width: 14px;
      fill: #ffffff80;
      transition: all 0.3s; }
      .developed-by a svg:hover {
        fill: #262461; }

.themes {
  position: absolute;
  top: 45px;
  right: 50px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: space-between;
  gap: 1.4em;
  align-items: center;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.3s ease; }
  .themes button {
    border: none;
    background-color: transparent; }
    .themes button:hover {
      cursor: pointer; }
  .themes .bright-mode svg {
    fill: #262461;
    transition: all 0.3s ease; }
  .themes .dark-mode svg {
    fill: #DCDCDC;
    transition: all 0.3s ease; }

@media (max-width: 1196px) {
  .themes {
    bottom: 15px;
    left: 25px;
    top: unset;
    right: unset; } }

.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.cards-sections {
  max-width: 1600px;
  margin: auto;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em; }

.secondary-card {
  background-color: #FEFEFE;
  box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 1.6em 2.4em 1em 2.4em;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease; }

.routine-card hr {
  margin-bottom: 1.6em;
  height: 1px;
  border: none;
  background-color: #CDCDCD;
  transition: all 0.3s ease; }

.routine-card h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #262461;
  margin-bottom: 1em; }

.routine-card-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.5em;
  margin-bottom: 2.6em;
  padding-left: 0.6em; }
  .routine-card-title picture {
    width: 65px; }
  .routine-card-title h2 {
    text-transform: uppercase;
    font-size: 1.6rem; }

.routine-card-description {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2em; }

.recomended-list {
  background-image: linear-gradient(77.76deg, #F8F8F8 8.98%, #ECECEC 92.82%);
  box-shadow: 1.15376px 1.15376px 22px -8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.6em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-bottom: 2em; }
  .recomended-list p {
    font-weight: 500;
    font-size: 1.15rem;
    color: #4FD174; }

.recomended-list-darkmode {
  background-image: linear-gradient(77.76deg, #252525 8.98%, #1C1C1C 92.82%); }

.routine-button {
  background-color: #161616;
  color: #FFFFFF;
  margin: auto; }

.data-card {
  background-image: linear-gradient(26.04deg, #194374 5.78%, #0D183E 97.48%);
  box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 1.6em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  margin-top: -0.8em; }
  .data-card hr {
    margin: 1.6em auto;
    height: 1px;
    width: 95%;
    border: none;
    background-color: #999999; }

.data-card-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.4em;
  margin-bottom: 2.6em; }
  .data-card-title picture {
    width: 120px; }
  .data-card-title div {
    display: flex;
    flex-direction: column;
    gap: 0.4em; }
    .data-card-title div h1 {
      color: #FFFFFF;
      font-size: 1.8rem;
      font-weight: 500; }
    .data-card-title div h3 {
      color: #FFFFFF;
      font-size: 1.4rem;
      font-weight: 400; }

.data-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-left: 0.6em; }
  .data-card-info p {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500; }
    .data-card-info p span {
      font-weight: 300;
      margin-left: 6px; }

.data-card-bmi {
  padding-left: 0.6em;
  margin-bottom: 2em; }
  .data-card-bmi h2 {
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.8em; }
  .data-card-bmi h3 {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center; }
    .data-card-bmi h3 .user-bmi {
      color: #4FD174;
      font-size: 2.8rem;
      font-weight: 700;
      margin-right: 0.4em; }

.data-button {
  margin: auto; }

.shop-card-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
  margin-bottom: 2.6em;
  padding-left: 0.6em; }
  .shop-card-title picture {
    width: 100px; }
  .shop-card-title h2 {
    text-transform: uppercase;
    font-size: 1.6rem; }

.shop-card-description {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2em; }

.shop-card-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  margin-bottom: 1.8em; }

.shop-card-option {
  background-image: linear-gradient(216.05deg, #B0B0B0 4.93%, #EAEAEA 95.46%);
  border-radius: 8px;
  box-shadow: 2px 2px 18px -3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
  height: 195px; }
  .shop-card-option .equipment-image {
    margin-bottom: 10px; }
    .shop-card-option .equipment-image img {
      width: 110px; }
  .shop-card-option .supplements-image {
    margin-bottom: 5px; }
    .shop-card-option .supplements-image img {
      width: 60px; }
  .shop-card-option h3 {
    text-transform: uppercase;
    font-size: 1.2rem; }

.shop-card-option-darkmode {
  background-image: linear-gradient(216.05deg, #1E1E1E 4.93%, #181818 95.46%); }

.shop-button {
  background-color: #161616;
  color: #FFFFFF;
  margin: auto; }

.init-data-modal-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #00000085;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none; }

.init-data-modal {
  display: grid;
  width: 80%;
  max-width: 1200px;
  height: 80vh;
  grid-template-columns: 35% 65%;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.5s;
  animation: appearFromTop 0.5s ease; }
  .init-data-modal::-webkit-scrollbar {
    display: none; }

@keyframes appearFromTop {
  0% {
    transform: translateY(-50vh);
    opacity: 0; } }

@keyframes disappearToTop {
  100% {
    transform: translateY(-100vh); } }

.init-data-modal-image {
  background-image: url(../../assets/images/images/modal-main.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 25px; }
  .init-data-modal-image .logo {
    transform: scale(0.92); }

.init-data-modal-main {
  padding: 2em 2em;
  background-color: #FFFFFF; }
  .init-data-modal-main h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2em; }
  .init-data-modal-main .registered-trademark {
    color: #000000ee;
    margin-top: 9.5em; }

.init-data-modal-form {
  background-color: #00000018;
  border-radius: 6px;
  padding: 0.5em 1em; }
  .init-data-modal-form p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2em; }

@keyframes alert {
  25% {
    transform: translateX(5px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(3px); } }

.fields-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5em;
  row-gap: 1em;
  margin-bottom: 2em; }

.field {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  position: relative; }
  .field:focus-within label {
    color: #262461; }
  .field label {
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.3s; }
    .field label span {
      font-size: 0.7rem;
      margin-left: 0.6em; }
  .field input, .field select {
    border: none;
    padding: 8px 10px;
    border-radius: 2px;
    background-color: #00000015; }
    .field input:focus, .field select:focus {
      outline: none; }
  .field input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .field p {
    position: absolute;
    bottom: -44px;
    right: 5px;
    font-size: 0.75rem;
    font-weight: 500;
    color: #EC1E11;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease; }
    .field p span {
      font-size: 0.6rem; }

.submit-button {
  border: none;
  background-color: #262461;
  color: #FFFFFF;
  display: block;
  margin: auto;
  width: 200px;
  margin-bottom: 0.4em; }
  .submit-button:hover {
    cursor: pointer; }

@media (max-width: 1048px) {
  .init-data-modal-image {
    display: none; }
  .init-data-modal {
    grid-template-columns: 100%; } }

@media (max-width: 686px) {
  .fields-grid {
    grid-template-columns: 100%;
    row-gap: 0.8em; }
  .init-data-modal {
    overflow-y: scroll; }
  .init-data-modal-main {
    padding: 1.5em 1em; } }

.my-data-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 5.5em auto; }

.my-data {
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  padding-top: 0;
  border-right: 2px solid #e6e6e6; }
  .my-data h1, .my-data h3, .my-data p {
    color: #161616; }
  .my-data .my-data-username, .my-data .my-data-age {
    color: #161616; }
  .my-data .my-data-username {
    font-weight: 700; }
  .my-data .my-data-age {
    font-weight: 500; }
  .my-data .user-gender {
    color: #1C9CD2;
    font-weight: 500; }
  .my-data .user-height, .my-data .user-weight {
    font-weight: 500; }
  .my-data .data-card-info-my-data {
    margin-left: 0.5em; }
    .my-data .data-card-info-my-data p {
      font-weight: 600; }
      .my-data .data-card-info-my-data p:first-child {
        margin-bottom: 2em; }
  .my-data hr {
    width: 78%;
    margin-left: 1em;
    background-color: #e6e6e6; }

.change-data-button {
  background-color: #262461;
  color: #FFFFFF;
  border: none;
  max-width: 240px;
  margin-left: 1.8em; }

.bmi-recomendations {
  padding-left: 3em;
  padding-top: 0.5em;
  padding-right: 2em; }
  .bmi-recomendations .data-card-bmi h2 {
    color: #161616;
    font-weight: 600; }
  .bmi-recomendations .data-card-bmi h3 {
    color: #161616;
    text-align: left;
    margin-left: 4em; }
  .bmi-recomendations p {
    font-size: 1rem;
    margin-left: 1em; }

.my-data-recomendations {
  margin-top: 2.4em;
  margin-left: 0.6em; }
  .my-data-recomendations h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #262461;
    margin-bottom: 1em; }

.bmi-recomendations-list {
  margin-left: 0.8em;
  margin-top: 1em; }
  .bmi-recomendations-list p {
    margin-bottom: 0.6em;
    font-weight: 500; }

@media (max-width: 1200px) {
  .bmi-recomendations .data-card-bmi h3 {
    margin-left: 0; } }

@media (max-width: 972px) {
  .bmi-recomendations {
    padding-top: 0; } }

@media (max-width: 824px) {
  .main-section-my-data {
    height: auto; }
  .themes-my-data {
    position: fixed; }
  .my-data-section {
    grid-template-columns: 100%;
    margin-top: 3em; }
  .my-data {
    border-right: none;
    margin-bottom: 2em; }
  .bmi-recomendations {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 2em; }
    .bmi-recomendations .data-card-bmi h2 {
      color: #161616;
      font-weight: 600; }
    .bmi-recomendations .data-card-bmi h3 {
      color: #161616;
      text-align: center; }
    .bmi-recomendations p {
      font-size: 1rem;
      margin-left: 0.5em; } }
